@import './variables.scss';
@import './helpers.scss';
@import './topNav.scss';
@import './settings.scss';
@import './recipes.scss';
@import './transitions.scss';
@import './components.scss';
@import '~bulma';


html {
    background-color: $mainBackground;
    overflow-x: hidden;
    text-align: center;
}
#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: $font;
}

body {
    margin: 6rem auto 10rem auto;
    padding: 0 1rem;
}

.is-current-page {
    color: #eedcff;
}
.is-nav-element {
    font-size: 1.6rem;
}

@media (min-width: 769px) {
    body {
        padding: 0 5rem;
    }
}
